.price-card {
    background: #f5f5f6;
    padding: 40px 35px;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
}

.price-card:before {
    position: absolute;
    content: "";
    top: 0;
    right: -35px;
    width: 88px;
    height: 88px;
    background: #0cc652;
    opacity: 0.2;
    border-radius: 8px;
    transform: rotate(45deg);
}

.price-card:after {
    position: absolute;
    content: "";
    top: 30px;
    right: -35px;
    width: 88px;
    height: 88px;
    background: #0cc652;
    opacity: 0.2;
    border-radius: 8px;
    transform: rotate(45deg);
}

.price-card.featured {
    background: #fff;
    border: 1px solid #ebebeb;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

p.price span {
    display: inline-block;
    padding: 45px 15px 12px;
    padding-right: 0;
    font-weight: 600;
    color: #0cc652;
    position: relative;
}

p.price span:before {
    position: absolute;
    top: 25px;
    font-weight: 300;
    left: 0;
    font-size: 16px;
}

.pricing-offers li {
    padding: 0 0 16px;
    line-height: 18px;
}

.btn.btn-mid {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}