@import "pages/auths/base";
// @import "pages/errors/base";
// @import "pages/misc"; 

.refershGBtn{
    cursor: pointer;
    font-size: 24px;
}

.loader-overlay{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1021;
    background-color: rgba(0,0,0,0.5);
    content: '';
    height: 100%;
    .spinner-border {color: #fff;}
}

.securityIcon {
    .dropdown-toggle{
        cursor: pointer;
        &:before {
            display: none;
        }
    }
}

// pagination
.pagination {
    li{
        &.page-item{
            &.active {
                .page-link { 
                    background-color: $accent-color;
                    color: $white;
                }
            }
        }
    }
}